.customanchor a {
  font-weight: 500;
  color: #3b82f6;
  transition: 0.3s;
}
 .imgdesc a,  .imgdesc link {
  font-weight: 500;
  color: #3b82f6;
  text-decoration: underline;
  transition: 0.3s;
}
.customanchor a:hover {
  font-weight: 500;

  padding: 5px 10px;
  border-radius: 8px; /* Equivalent to 6px */
  text-decoration: none !important; /* Use !important to override other styles */
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  outline: none;

  color: #fff;
  background-color: #1e40af;
}
/* Target only <a> tags within buttons */

.btn1 a {
  color: white;
}
/* Override hover styles for btn1 */
.btn1 a:hover {
  /* Remove padding and other hover effects */
  font-weight: none;
  padding: 8px 12px; /* Set padding to 0 */
  border-radius: none; /* Remove border-radius */
  box-shadow: none; /* Remove box-shadow */
  outline: none; /* Remove outline */
}
